
#navbar {
  display: grid;
  height: 100%;
  background-color: #00796b;
  position: fixed;
  border-radius: 5px;
  margin-left: 10px;
}

#navbar h3 {
  font-weight: bold;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}

.nav-link {
  margin-left: 20%;
  color: white;
}

.nav-link:hover {
  color: orange;
}

#main-doc {
  margin-left: 20%;
  padding:20px;
  margin-bottom:110px;

}
